<h3>NUEVA ÁREA EXTERIORES</h3>

<%= form_for(@area_exteriore) do |f| %>
  <% if @area_exteriore.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@area_exteriore.errors.count, "error") %> No es posible guardar los datos.</h2>

      <ul>
      <% @area_exteriore.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="col-md-6 col-md-offset-3">

    <div class="form-group">
      <%= f.label :tipo_area %><br>
      <div class="col-sm-4" style="padding:0">
        <%= f.select :tipo_area, AREAS, {},{ class: 'form-control'} %>
      </div><br>
    </div>
    <div class="form-group">
      <%= f.label :concepto %><br>
      <%= f.text_field :concepto,  class: 'form-control', :required => true  %>
    </div>
    <div class="form-group">
      <%= f.label :desde %><br>
      <%= f.number_field :desde,  class: 'form-control', step: 'any', :required => true %>
    </div>
    <div class="form-group">
      <%= f.label :hasta %><br>
      <%= f.number_field :hasta,  class: 'form-control', step: 'any', :required => true %>
    </div>
    <div class="form-group">
      <%= f.label :porcentaje_concepto ,"Porcentaje" %><br>
      <%= f.number_field :porcentaje_concepto,  class: 'form-control text_field', step: 'any', :required => true%>
    </div>
  </div>
  <center>
    <div class="actions col-md-12">
      <%= f.submit 'Aceptar', class: 'btn btn-primary'  %>
    </div>
  </center>
<% end %>

<script>
  
$( "#new_area_exteriore" ).validate({
  rules: {
    field: {
      required: true
    }
  }
});

</script>